@{
    ViewBag.Title = "About";
}
<dl>
    @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
    {
        <div>
            <span>
                <strong>
                    @claim.Type
                </strong>
                <a style="color: red;">@claim.Value</a>
            </span>
        </div>
    }
</dl>
